<%@ Master Language="C#" MasterPageFile="~/MasterPages/Root.Master" AutoEventWireup="true" CodeBehind="ThreeColumn.master.cs" Inherits="ZwShop.Web.MasterPages.ThreeColumn" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cph1" runat="server">
</asp:Content>
