<%@ Master Language="C#" MasterPageFile="~/MasterPages/Root.Master" AutoEventWireup="true" CodeBehind="TwoColumn.master.cs" Inherits="ZwShop.Web.MasterPages.TwoColumn" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cph1" runat="server">
</asp:Content>
