<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ShopConfig" type="ZwShop.Services.Configuration.ShopConfig, ZwShop.Services" requirePermission="false" />
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;" />
    <add key="UseSSL" value="false" />
    <add key="SharedSSLUrl" value="" />
    <add key="NonSharedSSLUrl" value="" />
    <add key="FCKeditor:BasePath" value="~/editors/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="~/images/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="dependencyResolverTypeName" value="ZwShop.Services.Infrastructure.UnityDependencyResolver, ZwShop.Services" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config" />
  <urlrewritingnet configSource="UrlRewriting.config" />
  <system.web>
    <httpRuntime maxRequestLength="51200" requestValidationMode="2.0" targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="errorpage.htm">
      <error statusCode="403" redirect="bannedaddress.htm" />
      <error statusCode="404" redirect="filenotfound.htm" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="shop.AUTH" loginUrl="~/login.aspx" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/default.aspx" enableCrossAppRedirects="false" />
    </authentication>
    <anonymousIdentification enabled="true" />
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="ShopMembershipSqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="ShopMembershipSqlProvider" type="ZwShop.Services.Profile.StoreMembershipProvider, ZwShop.Services" connectionStringName="ShopSqlConnection" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="shop" requiresUniqueEmail="true" enablePasswordRetrieval="true" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="ShopRoleManagerSqlProvider" cookieName=".shopRoles" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="ShopRoleManagerSqlProvider" type="ZwShop.Services.Profile.StoreRoleProvider, ZwShop.Services" connectionStringName="ShopSqlConnection" applicationName="shop" />
      </providers>
    </roleManager>
    <sessionState timeout="20" mode="InProc" cookieless="false" />
    <siteMap defaultProvider="ShopAdminXmlSiteMapProvider" enabled="true">
      <providers>
        <add name="ShopAdminXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Admin/Admin.sitemap" />
      </providers>
    </siteMap>
    <pages theme="default" validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="ZwShop.Services" />
        <add namespace="ZwShop.Services.Audit" />
        <add namespace="ZwShop.Services.Audit.UsersOnline" />
        <add namespace="ZwShop.Services.Categories" />
        <add namespace="ZwShop.Services.Configuration.Settings" />
        <add namespace="ZwShop.Services.CustomerManagement" />
        <add namespace="ZwShop.Services.Directory" />
        <add namespace="ZwShop.Services.Infrastructure" />
        <add namespace="ZwShop.Services.Brands" />
        <add namespace="ZwShop.Services.Media" />
        <add namespace="ZwShop.Services.Messages" />
        <add namespace="ZwShop.Services.Orders" />
        <add namespace="ZwShop.Services.Payment" />
        <add namespace="ZwShop.Services.Products" />
        <add namespace="ZwShop.Services.Profile" />
        <add namespace="ZwShop.Services.Security" />
        <add namespace="ZwShop.Services.Shipping" />
        <add namespace="ZwShop.Services.Tasks" />
        <add namespace="ZwShop.Services.Utils" />
        <add namespace="ZwShop.Services.Utils.Html" />
        <add namespace="ZwShop.Common" />
        <add namespace="ZwShop.Common.Utils" />
        <add namespace="ZwShop.Common.Utils.Html" />
        <add namespace="ZwShop.Controls" />
        <add namespace="ZwShop.Controls.Payment.Validators" />
      </namespaces>
      <controls>
        <add tagPrefix="shop" namespace="ZwShop.Controls" assembly="Shop.Controls" />
        <add tagPrefix="shop" namespace="ZwShop.Controls.Payment.Validators" assembly="Shop.Controls" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="pricelist.csv" validate="false" type="ZwShop.Services.ExportImport.PricelistHandler, ZwShop.Services" />
    </httpHandlers>
    <httpModules>
      <add name="MembershipHttpModule" type="ZwShop.Services.Profile.MembershipHttpModule, ZwShop.Services" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="BlacklistHttpModule" type="ZwShop.Services.Security.BlacklistHttpModule, ZwShop.Services" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="shopFilter" />
      <remove name="UrlRewriteModule" />
      <add name="MembershipHttpModule" preCondition="managedHandler" type="ZwShop.Services.Profile.MembershipHttpModule, ZwShop.Services" />
      <add name="UrlRewriteModule" preCondition="managedHandler" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="BlacklistHttpModule" preCondition="managedHandler" type="ZwShop.Services.Security.BlacklistHttpModule, ZwShop.Services" />
    </modules>
    <handlers>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <ShopConfig>
    <SqlServer ConnectionStringName="ShopSqlConnection" />
    <ScheduleTasks>
      <Thread seconds="60">
        <!--do NOT enable ClearCache task if you have enabled tracking online users-->
        <task name="ClearCache" type="ZwShop.Services.Caching.ClearCacheTask, ZwShop.Services" enabled="false" stopOnError="false" />
        <task name="PurgeOnlineUsers" type="ZwShop.Services.Audit.UsersOnline.PurgeOnlineUsersTask, ZwShop.Services" enabled="true" stopOnError="false" />
        <task name="Emails" type="ZwShop.Services.Messages.SendQueuedMessagesTask, ZwShop.Services" enabled="true" stopOnError="false" maxTries="5" />
        <task name="KeepAlive" type="ZwShop.Services.Utils.KeepAliveTask, ZwShop.Services" enabled="true" stopOnError="false" path="keepalive/ping.ashx" />
      </Thread>
      <Thread seconds="600">
        <task name="DeleteExpiredCustomerSessions" type="ZwShop.Services.CustomerManagement.DeleteExpiredCustomerSessionsTask, ZwShop.Services" enabled="true" stopOnError="false" deleteExpiredCustomerSessionsOlderThanMinutes="43200" />
        <task name="DeleteExpiredShoppingCarts" type="ZwShop.Services.Orders.DeleteExpiredShoppingCartsTask, ZwShop.Services" enabled="false" stopOnError="false" deleteExpiredShoppingCartsOlderThanMinutes="259200" />
      </Thread>
      <Thread seconds="3600">
        <task name="DatabaseMaintance" type="ZwShop.Services.Maintenance.DatabaseMaintanceTask, ZwShop.Services" enabled="false" stopOnError="false" />
      </Thread>
    </ScheduleTasks>
  </ShopConfig>
</configuration>